.header {
  padding: 26px 0 29px;

  @include laptop {
    padding: 17px 0 20px;
  }

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    @include laptop {
      gap: 16px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 0 30px 0 35px;
    transition: transform ease-in-out 0.2s;

    @include desktop {
      flex: 1 1 auto;
      justify-content: space-around;
      gap: 16px;
      padding: 0;
    }

    @include laptop {
      position: fixed;
      top: 70px;
      left: 0;
      right: 0;
      flex-direction: column;
      gap: 0;
      padding: 7px 7px 44px;
      border-radius: 40px 7px;
      background-color: $blue;
      transform: translateX(-200%);
    }

    &.active {
      @include laptop {
        transform: translateX(0);
      }
    }

    &-link {
      font-weight: 400;
      font-size: 15px;

      @include desktop {
        font-size: 14px;
      }

      @include laptop {
        display: block;
        width: 100%;
        padding: 23px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 22px;
        line-height: 130%;
        letter-spacing: 0.01em;
        text-align: center;
        color: $white;
        border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);
      }

      &:hover {
        @include laptop {
          color: $white;
          opacity: 0.8;
        }
      }

      &:active {
        @include laptop {
          color: $white;
          opacity: 0.6;
        }
      }
    }

    &-phone {
      display: none;

      @include laptop {
        display: inline-block;
        margin: 36px 0;
        font-weight: 700;
        font-size: 28px;
        text-align: center;
        color: $white;
      }
    }

    & .button {
      display: none;

      @include laptop {
        display: inline-block;
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 17px;

    @include laptop {
      gap: 13px;
    }

    & .social-link--phone {
      margin-left: 17px;

      @include desktop {
        margin-left: 0;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 13px;

    & .button--order {
      @include mobile {
        display: none;
      }
    }
  }

  &__burger {
    display: none;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 30px;
    background: url(../img/icons/burger.svg) center no-repeat;
    background-color: $blue;
    background-size: 14px;
    transition: all ease-in-out 0.1s;
    cursor: pointer;

    @include laptop {
      display: inline-block;
      background-color: $blue;
    }

    &:active {
      background-color: $darkblue;
    }

    &.active {
      background-image: url(../img/icons/close.svg);
    }
  }
}
