.reviews {
  margin: 100px 0 98px;
  overflow: hidden;

  @include tablet {
    margin: 77px 0 92px;
  }

  &__title {
    margin: 18px 0 21px;

    @include tablet {
      margin: 21px 0 23px;
    }
  }

  &__slider {
    & .swiper {
      overflow: visible;
    }
  }

  &__slide {
    padding: 34px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px 40px;
    background-color: $white;

    @include laptop {
      padding: 19px;
    }

    &-video {
      position: relative;
      height: 205px;
      margin: 0 0 15px;
      overflow: hidden;
      border-radius: 10px 40px;
      background-color: $darkgrey;

      @include laptop {
        height: 160px;
      }

      @include tablet {
        height: 136px;
      }

      & > * {
        display: block;
        width: 100%;
        height: 100%;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-color: rgba($color: #000000, $alpha: 0.1);
        backdrop-filter: blur(10px);
        cursor: pointer;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 11;
        display: block;
        width: 88px;
        aspect-ratio: 1 / 1;
        background: url(../img/icons/play.svg) center no-repeat;
        background-size: cover;
        transform: translateX(-50%) translateY(-50%);
        transition: transform ease-in-out 0.1s;
        cursor: pointer;

        @include tablet {
          width: 64px;
        }
      }

      &.active::before,
      &.active::after {
        display: none;
      }

      &:hover::after {
        transform: translateX(-50%) translateY(-50%) scale(1.06);
      }

      &:active::after {
        transform: translateX(-50%) translateY(-50%) scale(0.98);
      }
    }

    &-name {
      margin: 0 0 8px;
      font-weight: 600;
      font-size: 26px;
      line-height: 146%;
      color: $darkgrey;

      @include tablet {
        font-size: 20px;
      }
    }

    &-text {
      font-style: italic;
      font-weight: 400;
      font-size: 17px;
      line-height: 146%;
      color: $grey;

      @include tablet {
        font-size: 14px;
      }
    }
  }

  &__slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 61px 0 0;
  }
}
