.team {
  margin: 100px 0 90px;
  overflow: hidden;

  @include tablet {
    margin: 90px 0;
  }

  &__title {
    margin: 18px 0 25px;

    @include tablet {
      margin: 18px 0 14px;
    }
  }

  &__description {
    margin: 25px 0;
    font-weight: 400;
    font-size: 21px;
    line-height: 139%;
    text-align: center;
    color: $darkgrey;

    @include tablet {
      margin: 14px 0 37px;
      font-size: 16px;
    }
  }

  &__slider {
    & .swiper {
      overflow: visible;

      &-slide {
        height: auto;
      }
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-figure {
      &-image {
        display: block;
        max-width: 100%;
        height: 388px;
        object-fit: cover;
        border-radius: 10px 40px;

        @include tablet {
          border-radius: 8px 30px;
        }
      }
    }

    &-name {
      margin: 19px 0 9px;
      font-weight: 500;
      font-size: 26px;
      line-height: 129%;
      letter-spacing: 0.01em;
      color: $black;

      @include tablet {
        font-size: 19px;
      }
    }

    &-position {
      margin: 0 0 26px;
      font-weight: 500;
      font-size: 16px;
      line-height: 129%;
      color: $grey;

      @include tablet {
        margin-bottom: 13px;
        font-size: 14px;
      }
    }

    &-text {
      display: none;
      flex-direction: column;
      gap: 16px;
      font-weight: 400;
      font-size: 15px;
      line-height: 145%;
      color: $grey;

      @include tablet {
        font-size: 14px;
      }

      & > p {
        margin: 0;
      }
    }

    &-buttons {
      flex: 1 1 auto;
      display: flex;
      align-items: flex-end;
    }

    &-button {
      padding: 0;
      font-weight: 400;
      font-size: 14px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #609eff;
      border: none;
      background: none;
      cursor: pointer;
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: $black, $alpha: 0.25);
    backdrop-filter: blur(10px);

    &.active {
      display: flex;
    }

    &-body {
      position: relative;
      max-height: calc(100vh - 100px);
      max-width: calc(100% - 30px);
      width: 580px;
      padding: 40px 32px;
      box-sizing: border-box;
      border-radius: 8px 30px;
      background-color: $white;

      @include tablet {
        max-height: calc(100vh - 80px);
        padding: 20px;
      }

      &::before {
        content: '';
        position: absolute;
        top: -26px;
        right: -26px;
        z-index: 1001;
        display: block;
        width: 28px;
        height: 28px;
        background: url(../img/icons/close.svg) center no-repeat;
        cursor: pointer;

        @include tablet {
          top: -34px;
          left: 50%;
          right: auto;
          transform: translateX(-50%);
        }
      }
    }

    &-content {
      max-height: calc(100vh - 180px);
      padding-right: 4px;
      overflow: auto;

      @include tablet {
        max-height: calc(100vh - 120px);
      }

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        background: rgba($color: $black, $alpha: 0.05);
      }

      &::-webkit-scrollbar-thumb {
        background: rgba($color: $black, $alpha: 0.1);
      }
    }
  }

  &__modal &__slide-text {
    display: flex;
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
  }
}
