.team {
  margin: 100px 0 90px;
  overflow: hidden;

  @include tablet {
    margin: 90px 0;
  }

  &__title {
    margin: 18px 0 25px;

    @include tablet {
      margin: 18px 0 14px;
    }
  }

  &__description {
    margin: 25px 0;
    font-weight: 400;
    font-size: 21px;
    line-height: 139%;
    text-align: center;
    color: $darkgrey;

    @include tablet {
      margin: 14px 0 37px;
      font-size: 16px;
    }
  }

  &__slider {
    & .swiper {
      overflow: visible;
    }
  }

  &__slide {
    &-figure {
      &-image {
        display: block;
        max-width: 100%;
        height: 388px;
        object-fit: cover;
        border-radius: 10px 40px;

        @include tablet {
          border-radius: 8px 30px;
        }
      }
    }

    &-name {
      margin: 19px 0 9px;
      font-weight: 500;
      font-size: 26px;
      line-height: 129%;
      letter-spacing: 0.01em;
      color: $black;

      @include tablet {
        font-size: 19px;
      }
    }

    &-text {
      margin: 0 0 26px;
      font-weight: 500;
      font-size: 16px;
      line-height: 129%;
      color: $grey;

      @include tablet {
        margin-bottom: 13px;
        font-size: 14px;
      }
    }

    &-button {
      padding: 0;
      font-weight: 400;
      font-size: 14px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #609eff;
      border: none;
      background: none;
      cursor: pointer;
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
  }
}
