.button {
  border-radius: 100px;
  background-color: $white;
  transition: all ease-in-out 0.1s;
  cursor: pointer;

  &--order {
    display: inline-block;
    padding: 14px 29px;
    color: $grey;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    border: 1px solid $lightgrey;

    &:hover {
      color: $white;
      border-color: $blue;
      background-color: $blue;
    }

    &:active {
      border-color: $darkblue;
      background-color: $darkblue;
    }
  }
}
