.logo {
  flex: 0 0 auto;

  &__link {
    display: flex;
    align-items: center;
    gap: 22px;

    @include desktop {
      gap: 16px;
    }
  }

  &__figure {
    display: flex;
    align-items: center;
    justify-content: center;

    &-image {
      display: block;
      max-width: 100%;
      width: 35px;
      height: auto;

      @include laptop {
        width: 25px;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &-name {
      font-weight: 600;
      font-size: 26px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $black;

      @include laptop {
        font-weight: 600;
        font-size: 19px;
      }
    }

    &-slogan {
      font-weight: 400;
      font-size: 9px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $grey;

      @include laptop {
        font-weight: 400;
        font-size: 7px;
      }
    }
  }
}
