@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"), url("../fonts/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-RegularItalic.woff") format("woff"), url("../fonts/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
html {
  font-size: 16px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #2d2d2d;
  background-color: #ededed;
}

a,
button,
input,
textarea {
  font-family: "Gilroy", sans-serif;
  text-decoration: none;
}

a {
  transition: all ease-in-out 0.1s;
}
a:hover {
  color: #609eff;
}
a:active {
  color: #3081ff;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  margin: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 122%;
  letter-spacing: 0.01em;
  color: #4d4d4d;
  text-align: center;
}
h2 > span {
  font-weight: 700;
  color: #609eff;
}
@media (max-width: 992px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  margin: 0;
  font-weight: 600;
  font-size: 23px;
  line-height: 127%;
  color: #878787;
}
@media (max-width: 576px) {
  h3 {
    font-size: 20px;
  }
}

.container {
  max-width: 1236px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.logo {
  flex: 0 0 auto;
}
.logo__link {
  display: flex;
  align-items: center;
  gap: 22px;
}
@media (max-width: 1240px) {
  .logo__link {
    gap: 16px;
  }
}
.logo__figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__figure-image {
  display: block;
  max-width: 100%;
  width: 35px;
  height: auto;
}
@media (max-width: 992px) {
  .logo__figure-image {
    width: 25px;
  }
}
.logo__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.logo__text-name {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #2d2d2d;
}
@media (max-width: 992px) {
  .logo__text-name {
    font-weight: 600;
    font-size: 19px;
  }
}
.logo__text-slogan {
  font-weight: 400;
  font-size: 9px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #878787;
}
@media (max-width: 992px) {
  .logo__text-slogan {
    font-weight: 400;
    font-size: 7px;
  }
}

.social-link {
  display: inline-block;
  height: 29px;
  width: 29px;
  border-radius: 32px;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .social-link {
    height: 23px;
    width: 23px;
  }
}
.social-link--whatsapp {
  background-image: url(../img/icons/whatsapp.svg);
  background-color: #2aa81a;
}
.social-link--whatsapp:active {
  background-color: #42d030;
}
.social-link--tg {
  background-image: url(../img/icons/telegram.svg);
  background-color: #178ec9;
}
.social-link--tg:active {
  background-color: #45b3ea;
}
.social-link--phone {
  width: auto;
  height: auto;
  font-weight: 600;
  font-size: 24px;
  color: #2d2d2d;
}
@media (max-width: 1240px) {
  .social-link--phone {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .social-link--phone {
    background-color: #609eff;
    background-image: url(../img/icons/phone.svg);
    height: 23px;
    width: 23px;
  }
}
@media (max-width: 992px) {
  .social-link--phone:active {
    background-color: #3081ff;
  }
}
@media (max-width: 992px) {
  .social-link--phone > * {
    display: none;
  }
}

.button {
  box-sizing: border-box;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0);
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
.button--lg {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 24px 58px 26px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
}
@media (max-width: 768px) {
  .button--lg {
    justify-content: center;
    gap: 20px;
    max-width: 480px;
    padding: 21px 30px;
    font-size: 18px;
  }
}
.button--lg::before {
  transition: all ease-in-out 0.1s;
}
.button--lg--consult::before {
  content: "";
  display: inline-block;
  height: 22px;
  width: 22px;
  background: url(../img/icons/consultation.svg) center no-repeat;
}
.button--lg--coin::before {
  content: "";
  display: inline-block;
  height: 22px;
  width: 22px;
  background: url(../img/icons/ruble.svg) center no-repeat;
}
.button--light {
  color: #2d2d2d;
  background-color: #ffffff;
}
.button--light:hover {
  color: #609eff;
}
.button--light:active {
  color: #3081ff;
}
.button--dark {
  background-color: #609eff;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.3);
}
.button--dark:hover {
  color: #609eff;
  background-color: #ffffff;
  border-color: #609eff;
}
.button--dark:active {
  color: #3081ff;
  border-color: #3081ff;
}
.button--dark::before {
  filter: brightness(10);
}
.button--dark:hover::before, .button--dark:active::before {
  filter: brightness(1);
}
.button--order {
  display: inline-block;
  padding: 14px 29px;
  color: #878787;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.01em;
  border: 1px solid #cacaca;
}
.button--order:hover {
  color: #ffffff;
  border-color: #609eff;
  background-color: #609eff;
}
.button--order:active {
  border-color: #3081ff;
  background-color: #3081ff;
}
.button--prev, .button--next {
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  background: url(../img/icons/prev.svg) center no-repeat;
  background-color: #609eff;
  transition: background-color ease-in-out 0.1s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .button--prev, .button--next {
    height: 42px;
    width: 42px;
    background-size: 8px;
  }
}
.button--prev:active, .button--next:active {
  background-color: #3081ff;
}
.button--next {
  transform: rotate(180deg);
}

.tag {
  display: flex;
  align-items: center;
  gap: 22px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 19px 46px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #878787;
  border: 1px solid rgba(135, 135, 135, 0.2);
  border-radius: 240px;
}
@media (max-width: 768px) {
  .tag {
    gap: 10px;
    padding: 13px 26px;
    font-size: 14px;
  }
}
.tag::before {
  content: "";
  flex: 0 0 auto;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background-color: #609eff;
}
.tag--light {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.2);
}
.tag--light::before {
  background-color: white;
}

.header {
  padding: 26px 0 29px;
}
@media (max-width: 992px) {
  .header {
    padding: 17px 0 20px;
  }
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
@media (max-width: 992px) {
  .header .container {
    gap: 16px;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 36px;
  padding: 0 30px 0 35px;
}
@media (max-width: 1240px) {
  .header__nav {
    flex: 1 1 auto;
    justify-content: space-around;
    gap: 16px;
    padding: 0;
  }
}
@media (max-width: 992px) {
  .header__nav {
    display: none;
  }
}
.header__nav-link {
  font-weight: 400;
  font-size: 15px;
}
@media (max-width: 1240px) {
  .header__nav-link {
    font-size: 14px;
  }
}
.header__social {
  display: flex;
  align-items: center;
  gap: 17px;
}
@media (max-width: 992px) {
  .header__social {
    gap: 13px;
  }
}
.header__social .social-link--phone {
  margin-left: 17px;
}
@media (max-width: 1240px) {
  .header__social .social-link--phone {
    margin-left: 0;
  }
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 13px;
}
@media (max-width: 576px) {
  .header__buttons .button--order {
    display: none;
  }
}
.header__burger {
  display: none;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 30px;
  background: url(../img/icons/burger.svg) center no-repeat;
  background-color: #609eff;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__burger {
    display: inline-block;
    background-color: #609eff;
  }
}
.header__burger:active {
  background-color: #3081ff;
}

@media (max-width: 1240px) {
  .first-screen .container {
    padding: 0;
  }
}
.first-screen__wrapper {
  padding: 43px 26px 55px;
  border-radius: 80px 12px;
  background: url(../img/grid.svg) center no-repeat;
  background-color: #609eff;
}
@media (max-width: 992px) {
  .first-screen__wrapper {
    border-radius: 40px 7px;
  }
}
.first-screen__wrapper > * {
  max-width: 996px;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .first-screen__wrapper > .tag {
    margin: 0 32px;
  }
}
.first-screen__title {
  margin-bottom: 28px;
  margin-top: 13px;
  font-weight: 500;
  font-size: 80px;
  line-height: 114%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 1240px) {
  .first-screen__title {
    font-size: 72px;
  }
}
@media (max-width: 992px) {
  .first-screen__title {
    font-size: 56px;
  }
}
@media (max-width: 768px) {
  .first-screen__title {
    margin-bottom: 23px;
    font-size: 39px;
  }
}
.first-screen__title > b {
  font-weight: 700;
}
.first-screen__advantages {
  display: flex;
  margin-bottom: 34px;
}
@media (max-width: 768px) {
  .first-screen__advantages {
    flex-direction: column;
    gap: 24px;
    padding: 0 32px;
    margin-bottom: 24px;
  }
}
.first-screen__advantages-item {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 60px;
  box-sizing: border-box;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 992px) {
  .first-screen__advantages-item {
    gap: 10px;
    padding: 0 32px;
  }
}
@media (max-width: 768px) {
  .first-screen__advantages-item {
    padding: 0;
    border: none;
  }
}
.first-screen__advantages-item:last-child {
  border: none;
}
.first-screen__advantages-item-figure {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 60px;
}
@media (max-width: 992px) {
  .first-screen__advantages-item-figure {
    height: 50px;
  }
}
.first-screen__advantages-item-figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 992px) {
  .first-screen__advantages-item-figure-image {
    max-height: 48px;
  }
}
.first-screen__advantages-item-text {
  font-weight: 500;
  font-size: 21px;
  line-height: 138%;
  text-align: center;
  color: #fff;
}
@media (max-width: 992px) {
  .first-screen__advantages-item-text {
    font-size: 18px;
    line-height: 161%;
  }
}
.first-screen__advantages-item-text > b {
  font-weight: 700;
}
.first-screen__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 32px;
}
@media (max-width: 768px) {
  .first-screen__buttons > .button {
    width: 100%;
  }
}

.advantages {
  margin: 51px 0 116px;
}
@media (max-width: 768px) {
  .advantages {
    margin: 15px 0 90px;
  }
}
.advantages .container {
  display: flex;
  flex-wrap: wrap;
  gap: 39px 34px;
}
@media (max-width: 1240px) {
  .advantages .container {
    gap: 24px;
  }
}
.advantages__item {
  padding: 36px 36px 28px;
  box-sizing: border-box;
  border-radius: 22px 40px;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 24px;
  }
}
@media (max-width: 576px) {
  .advantages__item {
    padding: 30px 19px;
  }
}
.advantages__item--counter {
  flex: 1 1 440px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
}
@media (max-width: 1240px) {
  .advantages__item--counter {
    flex: 1 1 100%;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .advantages__item--counter {
    gap: 8px;
  }
}
.advantages__item--conditions {
  flex: 0 1 666px;
}
.advantages__item--detox {
  flex: 0 1 454px;
}
.advantages__item--center, .advantages__item--support {
  flex: 1 1 20%;
}
@media (max-width: 1240px) {
  .advantages__item--conditions, .advantages__item--detox, .advantages__item--center, .advantages__item--support {
    flex: 1 1 calc(50% - 12px);
  }
}
@media (max-width: 768px) {
  .advantages__item--conditions, .advantages__item--detox, .advantages__item--center, .advantages__item--support {
    flex: 1 1 100%;
  }
}
.advantages__item-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
  width: 66px;
  margin: 0 0 20px;
  border-radius: 80px;
  background-color: #609eff;
}
@media (max-width: 768px) {
  .advantages__item-figure {
    height: 55px;
    width: 55px;
  }
}
.advantages__item-figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .advantages__item-figure-image {
    width: 28px;
  }
}
.advantages__item-text {
  font-weight: 500;
  font-size: 19px;
  line-height: 146%;
  color: #878787;
}
@media (max-width: 768px) {
  .advantages__item-text {
    font-size: 18px;
    line-height: 141%;
    text-align: center;
  }
}
.advantages__item-text--counter {
  font-weight: 500;
  font-size: 17px;
  line-height: 122%;
  color: #878787;
}
@media (max-width: 576px) {
  .advantages__item-text--counter {
    font-size: 15px;
  }
}
.advantages__item-text b {
  font-weight: 700;
}
.advantages__item-counter {
  font-weight: 700;
  font-size: 174px;
  line-height: 94%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #609eff;
}
@media (max-width: 576px) {
  .advantages__item-counter {
    font-size: 120px;
  }
}

.facts {
  margin: 116px 0 100px;
}
@media (max-width: 768px) {
  .facts {
    margin: 90px 0 77px;
  }
}
.facts .container {
  position: relative;
}
.facts__title {
  max-width: 702px;
  margin: 21px auto 27px;
}
.facts__figure {
  position: absolute;
  top: 664px;
  right: 15px;
  left: 15px;
  border-radius: 80px 12px;
  overflow: hidden;
}
@media (max-width: 1240px) {
  .facts__figure {
    position: static;
    margin: 0 0 33px;
    border-radius: 35px 10px;
  }
}
.facts__figure-image {
  display: block;
  max-height: 546px;
  max-width: none;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.facts__slider .swiper {
  overflow: visible;
}
@media (max-width: 992px) {
  .facts__slider .swiper {
    overflow: hidden;
  }
}
.facts__slider .swiper-wrapper {
  position: static;
  flex-wrap: wrap;
}
@media screen and (min-width: 992.1px) {
  .facts__slider .swiper-wrapper {
    gap: 36px 42px;
  }
}
@media (max-width: 992px) {
  .facts__slider .swiper-wrapper {
    position: relative;
    flex-wrap: nowrap;
  }
}
.facts__slider .swiper-slide {
  position: static;
  height: auto;
}
@media screen and (min-width: 992.1px) {
  .facts__slider .swiper-slide {
    flex: 0 0 calc(33.3333333333% - 28px);
  }
}
@media (max-width: 992px) {
  .facts__slider .swiper-slide {
    position: relative;
  }
}
.facts__slider .swiper-slide:nth-child(-n+3) {
  margin-bottom: 590px;
}
@media (max-width: 1240px) {
  .facts__slider .swiper-slide:nth-child(-n+3) {
    margin: 0;
  }
}
.facts__slide {
  height: 100%;
  padding: 24px 36px 34px;
  box-sizing: border-box;
  border-radius: 22px 40px;
  background-color: #ffffff;
}
@media (max-width: 1240px) {
  .facts__slide {
    padding: 24px 20px 36px;
  }
}
@media (max-width: 992px) {
  .facts__slide {
    padding: 24px 14px 36px;
  }
}
.facts__slide-count {
  margin: 0 0 6px;
  font-weight: 700;
  font-size: 59px;
  line-height: 127%;
  letter-spacing: 0.05em;
  color: #ffffff;
  -webkit-text-stroke: 1px #609eff;
}
@media (max-width: 992px) {
  .facts__slide-count {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .facts__slide-count {
    font-size: 50px;
  }
}
.facts__slide-title {
  margin: 0 0 9px;
}
@media (max-width: 992px) {
  .facts__slide-title {
    text-align: center;
  }
}
.facts__slide-text {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 146%;
  color: #878787;
}
.facts__slide-text > b {
  font-weight: 600;
}
@media (max-width: 992px) {
  .facts__slide-text {
    font-size: 15px;
    text-align: center;
  }
}
.facts__slider-controls {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 35px 0 0;
}
@media (max-width: 992px) {
  .facts__slider-controls {
    display: flex;
  }
}

.reviews {
  margin: 100px 0 98px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .reviews {
    margin: 77px 0 92px;
  }
}
.reviews__title {
  margin: 18px 0 21px;
}
@media (max-width: 768px) {
  .reviews__title {
    margin: 21px 0 23px;
  }
}
.reviews__slider .swiper {
  overflow: visible;
}
.reviews__slide {
  padding: 34px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px 40px;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .reviews__slide {
    padding: 19px;
  }
}
.reviews__slide-video {
  height: 205px;
  margin: 0 0 15px;
  overflow: hidden;
  border-radius: 10px 40px;
  background-color: #609eff;
}
@media (max-width: 992px) {
  .reviews__slide-video {
    height: 160px;
  }
}
@media (max-width: 768px) {
  .reviews__slide-video {
    height: 136px;
  }
}
.reviews__slide-video > * {
  display: block;
  width: 100%;
  height: 100%;
}
.reviews__slide-name {
  margin: 0 0 8px;
  font-weight: 600;
  font-size: 26px;
  line-height: 146%;
  color: #4d4d4d;
}
@media (max-width: 768px) {
  .reviews__slide-name {
    font-size: 20px;
  }
}
.reviews__slide-text {
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 146%;
  color: #878787;
}
@media (max-width: 768px) {
  .reviews__slide-text {
    font-size: 14px;
  }
}
.reviews__slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 61px 0 0;
}

.step-by-step {
  margin: 98px 0 110px;
}
@media (max-width: 768px) {
  .step-by-step {
    margin: 91px 0 60px;
  }
}
.step-by-step__title {
  margin: 18px 0 22px;
}
@media (max-width: 768px) {
  .step-by-step__title {
    margin: 21px 0;
  }
}
.step-by-step__wrapper {
  display: flex;
  gap: 84px;
}
@media (max-width: 1240px) {
  .step-by-step__wrapper {
    gap: 42px 24px;
  }
}
@media (max-width: 992px) {
  .step-by-step__wrapper {
    flex-direction: column;
  }
}
.step-by-step__controls {
  display: flex;
  flex-direction: column;
  gap: 36px;
  flex: 0 0 410px;
}
@media (max-width: 1240px) {
  .step-by-step__controls {
    flex: 0 0 360px;
  }
}
@media (max-width: 992px) {
  .step-by-step__controls {
    flex: 0 1 auto;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 10px;
    overflow: auto;
  }
}
.step-by-step__controls-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 11px 29px 15px;
  border: 1px solid rgba(98, 98, 98, 0.25);
  border-radius: 8px 25px;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .step-by-step__controls-button {
    flex: 0 0 auto;
    padding: 8px 21px;
  }
}
.step-by-step__controls-button:hover, .step-by-step__controls-button.active:hover {
  background-color: #609eff;
  border-color: #609eff;
}
.step-by-step__controls-button:active, .step-by-step__controls-button.active:active {
  background-color: #3081ff;
  border-color: #3081ff;
}
.step-by-step__controls-button.active {
  border-color: white;
  background-color: #ffffff;
}
.step-by-step__controls-button-number {
  font-weight: 500;
  font-size: 28px;
  line-height: 146%;
  color: #878787;
}
@media (max-width: 1240px) {
  .step-by-step__controls-button-number {
    font-size: 24px;
  }
}
.step-by-step__controls-button-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 146%;
  color: #4d4d4d;
  font-size: 20px;
}
.step-by-step__controls-button.active .step-by-step__controls-button-number {
  font-weight: 700;
  color: #2d2d2d;
}
.step-by-step__controls-button.active .step-by-step__controls-button-text {
  font-weight: 500;
  color: #4d4d4d;
}
.step-by-step__controls-button:hover .step-by-step__controls-button-number, .step-by-step__controls-button:hover .step-by-step__controls-button-text {
  color: #ffffff;
}
.step-by-step__content {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px 56px;
  box-sizing: border-box;
  border-radius: 22px 88px;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .step-by-step__content {
    padding: 21px 27px;
    border-radius: 10px 30px;
  }
}
.step-by-step__card {
  display: none;
  max-width: 520px;
}
@media (max-width: 992px) {
  .step-by-step__card {
    max-width: none;
  }
}
.step-by-step__card--wide {
  max-width: none;
}
.step-by-step__card.active {
  display: block;
}
.step-by-step__card-title {
  margin: 0 0 13px;
  font-weight: 600;
  font-size: 34px;
  line-height: 141%;
  text-align: center;
  color: #4d4d4d;
}
.step-by-step__card-text {
  margin: 0 0 32px;
  font-weight: 400;
  font-size: 20px;
  line-height: 146%;
  text-align: center;
  color: #878787;
}
.step-by-step__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 0 40px;
}
@media (max-width: 576px) {
  .step-by-step__card-list {
    gap: 16px;
  }
}
.step-by-step__card-list-item {
  flex: 0 0 calc(33.3333333333% - 16px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media (max-width: 576px) {
  .step-by-step__card-list-item {
    flex: 0 0 calc(50% - 8px);
  }
}
.step-by-step__card-list-item-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 48px;
  background-color: #609eff;
}
.step-by-step__card-list-item-figure-image {
  display: block;
  max-width: 100%;
  width: 24px;
  height: auto;
}
.step-by-step__card-list-item-text {
  font-weight: 600;
  font-size: 17px;
  line-height: 127%;
  text-align: center;
  color: #878787;
}
@media (max-width: 576px) {
  .step-by-step__card-list-item-text {
    font-size: 13px;
  }
}
.step-by-step__card-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.twelve-steps {
  margin: 93px 0 111px;
}
@media (max-width: 768px) {
  .twelve-steps {
    margin: 60px 0 75px;
  }
}
.twelve-steps__title {
  margin: 21px 0 31px;
}
@media (max-width: 768px) {
  .twelve-steps__title {
    margin: 21px 0 24px;
  }
}
.twelve-steps__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
@media (max-width: 1240px) {
  .twelve-steps__list {
    gap: 24px;
  }
}
@media (max-width: 576px) {
  .twelve-steps__list {
    gap: 12px;
  }
}
.twelve-steps__step {
  flex: 0 0 calc(25% - 37.5px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 1240px) {
  .twelve-steps__step {
    flex: 0 0 calc(25% - 18px);
  }
}
@media (max-width: 992px) {
  .twelve-steps__step {
    flex: 0 0 calc(33.3333333333% - 16px);
  }
}
@media (max-width: 768px) {
  .twelve-steps__step {
    flex: 0 0 calc(50% - 12px);
    align-items: center;
  }
}
@media (max-width: 576px) {
  .twelve-steps__step {
    flex: 1 1 100%;
  }
}
.twelve-steps__step-number {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 17px;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 127%;
  text-align: center;
  color: #ffffff;
  border-radius: 100px;
  background-color: #609eff;
}
.twelve-steps__step-title {
  margin: 0 0 11px;
  font-weight: 600;
  font-size: 18px;
  line-height: 127%;
  color: #4d4d4d;
}
@media (max-width: 768px) {
  .twelve-steps__step-title {
    text-align: center;
  }
}
.twelve-steps__step-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 146%;
  color: #878787;
}
@media (max-width: 768px) {
  .twelve-steps__step-text {
    text-align: center;
  }
}

.why-program {
  margin: 111px 0 114px;
}
@media (max-width: 768px) {
  .why-program {
    margin: 74px 0 89px;
  }
}
.why-program .container {
  position: relative;
}
.why-program__title {
  margin: 21px 0 27px;
}
@media (max-width: 768px) {
  .why-program__title {
    margin: 21px 0 23px;
  }
}
.why-program__video {
  position: absolute;
  top: 515px;
  left: 16px;
  right: 16px;
  padding: 0 48px 32px;
  overflow: hidden;
  border-radius: 80px 40px;
  background: url(../img/12-steps-bg.svg) right 12px bottom -70px no-repeat;
  background-color: #609eff;
}
@media (max-width: 1240px) {
  .why-program__video {
    position: static;
    margin: 0 0 30px;
  }
}
@media (max-width: 992px) {
  .why-program__video {
    padding: 0 24px 24px;
    border-radius: 30px 11px;
    background: #609eff;
  }
}
@media (max-width: 768px) {
  .why-program__video {
    font-size: 17px;
    text-align: center;
  }
}
.why-program__video-content {
  height: 573px;
  margin: 0 -48px 30px;
  background-color: #878787;
}
@media (max-width: 992px) {
  .why-program__video-content {
    margin: 0 -24px 30px;
    height: auto;
    width: calc(100% + 48px);
    aspect-ratio: 16/9;
  }
}
.why-program__video-content > * {
  display: block;
  height: 100%;
  width: 100%;
}
.why-program__video-text {
  max-width: 812px;
  font-weight: 500;
  font-size: 24px;
  line-height: 146%;
  color: #ffffff;
}
@media (max-width: 992px) {
  .why-program__video-text {
    max-width: none;
  }
}
@media (max-width: 768px) {
  .why-program__video-text {
    font-size: 17px;
    text-align: center;
  }
}
.why-program__video-text > b {
  font-weight: 700;
}
.why-program__slider .swiper {
  overflow: visible;
}
@media (max-width: 992px) {
  .why-program__slider .swiper {
    overflow: hidden;
  }
}
.why-program__slider .swiper-wrapper {
  position: static;
  flex-wrap: wrap;
}
@media screen and (min-width: 992.1px) {
  .why-program__slider .swiper-wrapper {
    gap: 40px 30px;
  }
}
@media (max-width: 992px) {
  .why-program__slider .swiper-wrapper {
    position: relative;
    flex-wrap: nowrap;
  }
}
.why-program__slider .swiper-slide {
  position: static;
  height: auto;
}
@media screen and (min-width: 992.1px) {
  .why-program__slider .swiper-slide {
    flex: 0 0 calc(33.3333333333% - 20px);
  }
}
@media (max-width: 992px) {
  .why-program__slider .swiper-slide {
    position: relative;
  }
}
.why-program__slider .swiper-slide:nth-child(-n+3) {
  margin-bottom: 812px;
}
@media (max-width: 1240px) {
  .why-program__slider .swiper-slide:nth-child(-n+3) {
    margin: 0;
  }
}
@media screen and (min-width: 1240.1px) {
  .why-program__slider .swiper-slide:nth-child(1) {
    flex: 0 1 27%;
  }
}
@media screen and (min-width: 1240.1px) {
  .why-program__slider .swiper-slide:nth-child(2) {
    flex: 0 1 30%;
  }
}
@media screen and (min-width: 1240.1px) {
  .why-program__slider .swiper-slide:nth-child(3) {
    flex: 1 1 30%;
  }
}
@media screen and (min-width: 1240.1px) {
  .why-program__slider .swiper-slide:nth-child(4) {
    flex: 0 1 31%;
  }
}
@media screen and (min-width: 1240.1px) {
  .why-program__slider .swiper-slide:nth-child(5) {
    flex: 0 1 33%;
  }
}
@media screen and (min-width: 1240.1px) {
  .why-program__slider .swiper-slide:nth-child(6) {
    flex: 1 1 27%;
  }
}
.why-program__slide {
  height: 100%;
  padding: 31px 38px;
  box-sizing: border-box;
  border-radius: 22px 40px;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .why-program__slide {
    padding: 24px;
  }
}
.why-program__slide-count {
  margin: 0 0 6px;
  font-weight: 700;
  font-size: 59px;
  line-height: 127%;
  letter-spacing: 0.05em;
  color: #ffffff;
  -webkit-text-stroke: 1px #609eff;
}
@media (max-width: 992px) {
  .why-program__slide-count {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .why-program__slide-count {
    font-size: 50px;
  }
}
.why-program__slide-title {
  margin: 0 0 9px;
}
@media (max-width: 992px) {
  .why-program__slide-title {
    text-align: center;
  }
}
.why-program__slide-text {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 146%;
  color: #878787;
}
.why-program__slide-text > b {
  font-weight: 600;
}
@media (max-width: 992px) {
  .why-program__slide-text {
    font-size: 15px;
    text-align: center;
  }
}
.why-program__slider-controls {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 35px 0 0;
}
@media (max-width: 992px) {
  .why-program__slider-controls {
    display: flex;
  }
}

.conditions {
  margin: 114px 0;
}
@media (max-width: 768px) {
  .conditions {
    margin: 89px 0;
  }
}
.conditions__title {
  margin: 21px auto 10px;
}
.conditions__location {
  display: flex;
  align-items: stretch;
  gap: 48px;
  margin: 0 0 48px;
}
@media (max-width: 1240px) {
  .conditions__location {
    gap: 24px;
  }
}
@media (max-width: 992px) {
  .conditions__location {
    flex-direction: column;
    margin: 0 0 30px;
  }
}
.conditions__location-text, .conditions__location-address {
  border-radius: 40px 12px;
}
@media (max-width: 992px) {
  .conditions__location-text, .conditions__location-address {
    border-radius: 30px 10px;
  }
}
.conditions__location-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 36px;
  font-weight: 500;
  font-size: 23px;
  line-height: 141%;
  text-align: center;
  color: #4d4d4d;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .conditions__location-text {
    padding: 14px 18px;
    font-size: 16px;
  }
}
.conditions__location-address {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px 32px 30px 45px;
  font-weight: 700;
  font-size: 35px;
  line-height: 146%;
  color: #ffffff;
  background-color: #609eff;
}
@media (max-width: 992px) {
  .conditions__location-address {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .conditions__location-address {
    padding: 18px 18px 18px 24px;
    font-size: 21px;
  }
}
.conditions__location-address::before {
  content: "";
  flex: 0 0 auto;
  height: 28px;
  width: 22px;
  background: url(../img/icons/location.svg) center no-repeat;
}
.conditions__sliders {
  position: relative;
  z-index: 10;
  margin: 48px 0;
}
@media (max-width: 768px) {
  .conditions__sliders {
    margin: 48px -15px 108px;
  }
}
.conditions__sliders-main .swiper-slide img {
  display: block;
  height: 566px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 66px 22px;
}
@media (max-width: 768px) {
  .conditions__sliders-main .swiper-slide img {
    height: 380px;
    border-radius: 40px 16px;
  }
}
.conditions__sliders-thumbs {
  position: absolute;
  left: 50%;
  bottom: 32px;
  width: 440px;
  z-index: 100;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .conditions__sliders-thumbs {
    bottom: -54px;
    max-width: calc(100% - 30px);
  }
}
.conditions__sliders-thumbs .swiper-slide img {
  display: block;
  height: 84px;
  width: 100%;
  box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #ffffff;
  border-radius: 5px 12px;
}
@media (max-width: 768px) {
  .conditions__sliders-thumbs .swiper-slide img {
    height: 64px;
  }
}
.conditions__sliders-thumbs .swiper-slide-thumb-active img {
  border-color: #609eff;
}
.conditions__sliders-controls {
  position: absolute;
  top: 50%;
  left: 40px;
  right: 40px;
  z-index: 101;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  .conditions__sliders-controls {
    left: 15px;
    right: 15px;
  }
}
.conditions__advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 44px 60px;
}
@media (max-width: 992px) {
  .conditions__advantages {
    gap: 44px;
  }
}
@media (max-width: 576px) {
  .conditions__advantages {
    gap: 36px;
  }
}
.conditions__advantage {
  flex: calc(33.3333333333% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (max-width: 992px) {
  .conditions__advantage {
    flex: calc(50% - 22px);
  }
}
@media (max-width: 576px) {
  .conditions__advantage {
    flex: 1 1 100%;
  }
}
.conditions__advantage-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  border-radius: 64px;
  background-color: #609eff;
}
.conditions__advantage-figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.conditions__advantage-text {
  font-weight: 500;
  font-size: 21px;
  line-height: 146%;
  text-align: center;
  color: #878787;
}
@media (max-width: 768px) {
  .conditions__advantage-text {
    font-size: 19px;
  }
}

.how-it-work {
  margin: 114px 0 110px;
}
@media (max-width: 768px) {
  .how-it-work {
    margin: 90px 0 80px;
  }
}
.how-it-work .container {
  position: relative;
}
.how-it-work__title {
  margin: 18px 0;
}
@media (max-width: 768px) {
  .how-it-work__title {
    margin: 21px 0 25px;
  }
}
.how-it-work__schedule {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding: 45px 50px;
  border-radius: 70px 22px;
  background-color: #ffffff;
}
@media (max-width: 1240px) {
  .how-it-work__schedule {
    padding: 40px 24px;
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .how-it-work__schedule {
    align-items: center;
    padding: 0 0 10px;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 0;
    background: rgba(255, 255, 255, 0);
  }
}
.how-it-work__schedule-block {
  flex: 0 0 calc(50% - 25px);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 38px;
}
@media (max-width: 1240px) {
  .how-it-work__schedule-block {
    flex: 0 0 calc(50% - 12px);
    gap: 16px;
  }
}
@media (max-width: 768px) {
  .how-it-work__schedule-block {
    flex: 0 0 auto;
    flex-direction: row;
  }
}
.how-it-work__schedule-block::before {
  content: "";
  position: absolute;
  top: 2px;
  bottom: 2px;
  z-index: 1;
  left: 80px;
  width: 1px;
  height: 100%;
  transform: translateX(-50%);
  background-color: #2d2d2d;
  opacity: 0.1;
}
@media (max-width: 992px) {
  .how-it-work__schedule-block::before {
    left: 64px;
  }
}
@media (max-width: 768px) {
  .how-it-work__schedule-block::before {
    display: none;
  }
}
.how-it-work__schedule-item {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 992px) {
  .how-it-work__schedule-item {
    gap: 16px;
  }
}
@media (max-width: 768px) {
  .how-it-work__schedule-item {
    flex: 0 0 auto;
    align-items: flex-start;
    flex-direction: column;
  }
}
.how-it-work__schedule-item-time {
  display: flex;
  justify-content: center;
  width: 160px;
  flex: 0 0 auto;
}
@media (max-width: 992px) {
  .how-it-work__schedule-item-time {
    width: 128px;
  }
}
@media (max-width: 768px) {
  .how-it-work__schedule-item-time {
    width: auto;
  }
}
.how-it-work__schedule-item-time-value {
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 11px;
  font-weight: 700;
  font-size: 21px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  border-radius: 64px;
  background-color: #609eff;
}
@media (max-width: 992px) {
  .how-it-work__schedule-item-time-value {
    font-size: 14px;
  }
}
.how-it-work__schedule-item-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 110%;
  color: #616161;
}
@media (max-width: 992px) {
  .how-it-work__schedule-item-text {
    font-size: 18px;
  }
}

.socialization {
  margin: 110px 0 97px;
}
@media (max-width: 768px) {
  .socialization {
    margin: 90px 0 90px;
  }
}
.socialization__title {
  margin: 18px 0 22px;
}
@media (max-width: 768px) {
  .socialization__title {
    margin: 21px 0 8px;
  }
}
.socialization__slider .swiper {
  overflow: visible;
}
@media (max-width: 992px) {
  .socialization__slider .swiper {
    overflow: hidden;
  }
}
.socialization__slider .swiper-wrapper {
  position: static;
  flex-wrap: wrap;
}
@media screen and (min-width: 992.1px) {
  .socialization__slider .swiper-wrapper {
    gap: 40px;
  }
}
@media (max-width: 992px) {
  .socialization__slider .swiper-wrapper {
    position: relative;
    flex-wrap: nowrap;
  }
}
.socialization__slider .swiper-slide {
  position: static;
  height: auto;
}
@media screen and (min-width: 992.1px) {
  .socialization__slider .swiper-slide {
    flex: 0 0 calc(33.3333333333% - 26.6666666667px);
  }
}
@media (max-width: 992px) {
  .socialization__slider .swiper-slide {
    position: relative;
  }
}
@media screen and (min-width: 992.1px) {
  .socialization__slider .swiper-slide:nth-child(-n+2) {
    flex: 0 0 calc(50% - 20px);
  }
}
.socialization__slide {
  height: 100%;
  padding: 24px 36px 34px;
  box-sizing: border-box;
  border-radius: 22px 40px;
  background-color: #ffffff;
}
@media (max-width: 1240px) {
  .socialization__slide {
    padding: 24px 20px 36px;
  }
}
@media (max-width: 992px) {
  .socialization__slide {
    padding: 24px 14px 36px;
  }
}
.socialization__slide-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  margin: 0 0 18px;
  border-radius: 64px;
  background-color: #609eff;
}
@media (max-width: 992px) {
  .socialization__slide-figure {
    margin: 0 auto 18px;
  }
}
.socialization__slide-figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.socialization__slide-count {
  margin: 0 0 6px;
  font-weight: 700;
  font-size: 59px;
  line-height: 127%;
  letter-spacing: 0.05em;
  color: #ffffff;
  -webkit-text-stroke: 1px #609eff;
}
@media (max-width: 992px) {
  .socialization__slide-count {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .socialization__slide-count {
    font-size: 50px;
  }
}
.socialization__slide-title {
  margin: 0 0 9px;
}
@media (max-width: 992px) {
  .socialization__slide-title {
    text-align: center;
  }
}
.socialization__slide-text {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 146%;
  color: #878787;
}
.socialization__slide-text > b {
  font-weight: 600;
}
@media (max-width: 992px) {
  .socialization__slide-text {
    font-size: 15px;
    text-align: center;
  }
}
.socialization__slider-controls {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 35px 0 0;
}
@media (max-width: 992px) {
  .socialization__slider-controls {
    display: flex;
  }
}

.price {
  margin: 100px 0;
}
@media (max-width: 768px) {
  .price {
    margin: 90px 0;
  }
}
.price__title {
  margin: 21px 0 24px;
}
@media (max-width: 768px) {
  .price__title {
    margin: 18px 0 37px;
  }
}
.price__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 46px;
}
@media (max-width: 992px) {
  .price__list {
    gap: 30px 24px;
  }
}
.price__list-item {
  flex: 0 0 calc(50% - 23px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 35px 40px;
  box-sizing: border-box;
  color: #2d2d2d;
  border-radius: 8px 30px;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .price__list-item {
    flex: 0 0 calc(50% - 12px);
    border-radius: 8px 30px;
  }
}
@media (max-width: 768px) {
  .price__list-item {
    flex: 1 1 100%;
  }
}
.price__list-item--active {
  color: #ffffff;
  background-color: #609eff;
}
.price__list-item--active > * {
  border-color: rgba(255, 255, 255, 0.1);
}
.price__list-item > * {
  max-width: 410px;
  width: 100%;
  box-sizing: border-box;
}
.price__list-item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: 0 0 12px;
  font-weight: 400;
  font-size: 17px;
  line-height: 122%;
  text-align: center;
}
@media (max-width: 768px) {
  .price__list-item-info {
    font-size: 16px;
  }
}
.price__list-item-info::before {
  content: "";
  display: block;
  border-radius: 100px;
  width: 12px;
  height: 12px;
  background-color: #609eff;
}
.price__list-item--active .price__list-item-info::before {
  background-color: #ffffff;
}
.price__list-item-title {
  padding: 0 0 23px;
  margin: 0;
  font-weight: 600;
  font-size: 33px;
  line-height: 129%;
  letter-spacing: 0.01em;
  text-align: center;
  border-bottom: 1px solid rgba(45, 45, 45, 0.2);
}
@media (max-width: 768px) {
  .price__list-item-title {
    padding: 0 0 19px;
    font-size: 26px;
  }
}
.price__list-item-time {
  padding: 21px 0;
  font-weight: 500;
  font-size: 25px;
  line-height: 129%;
  letter-spacing: 0.01em;
  text-align: center;
  border-bottom: 1px solid rgba(45, 45, 45, 0.2);
}
@media (max-width: 768px) {
  .price__list-item-time {
    padding: 19px 0;
    font-size: 23px;
  }
}
.price__list-item-description {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 132%;
  text-align: center;
  border-bottom: 1px solid rgba(45, 45, 45, 0.2);
}
@media (max-width: 768px) {
  .price__list-item-description {
    padding: 19px 0;
    font-size: 16px;
  }
}
.price__list-item-price {
  padding: 24px 0 31px;
  font-weight: 600;
  font-size: 33px;
  line-height: 129%;
  letter-spacing: 0.01em;
  text-align: center;
}
@media (max-width: 768px) {
  .price__list-item-price {
    padding: 18px 0 22px;
    font-size: 28px;
  }
}
.price__list-item-buttons {
  display: flex;
  justify-content: center;
}
.price__list-item--active .price__list-item-title, .price__list-item--active .price__list-item-time, .price__list-item--active .price__list-item-description {
  border-color: rgba(255, 255, 255, 0.2);
}

.team {
  margin: 100px 0 90px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .team {
    margin: 90px 0;
  }
}
.team__title {
  margin: 18px 0 25px;
}
@media (max-width: 768px) {
  .team__title {
    margin: 18px 0 14px;
  }
}
.team__description {
  margin: 25px 0;
  font-weight: 400;
  font-size: 21px;
  line-height: 139%;
  text-align: center;
  color: #4d4d4d;
}
@media (max-width: 768px) {
  .team__description {
    margin: 14px 0 37px;
    font-size: 16px;
  }
}
.team__slider .swiper {
  overflow: visible;
}
.team__slider .swiper-slide {
  height: auto;
}
.team__slide {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.team__slide-figure-image {
  display: block;
  max-width: 100%;
  height: 388px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 40px;
}
@media (max-width: 768px) {
  .team__slide-figure-image {
    border-radius: 8px 30px;
  }
}
.team__slide-name {
  margin: 19px 0 9px;
  font-weight: 500;
  font-size: 26px;
  line-height: 129%;
  letter-spacing: 0.01em;
  color: #2d2d2d;
}
@media (max-width: 768px) {
  .team__slide-name {
    font-size: 19px;
  }
}
.team__slide-position {
  margin: 0 0 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: 129%;
  color: #878787;
}
@media (max-width: 768px) {
  .team__slide-position {
    margin-bottom: 13px;
    font-size: 14px;
  }
}
.team__slide-text {
  display: none;
  flex-direction: column;
  gap: 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 145%;
  color: #878787;
}
@media (max-width: 768px) {
  .team__slide-text {
    font-size: 14px;
  }
}
.team__slide-text > p {
  margin: 0;
}
.team__slide-buttons {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
}
.team__slide-button {
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #609eff;
  border: none;
  background: none;
  cursor: pointer;
}
.team__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(45, 45, 45, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.team__modal.active {
  display: flex;
}
.team__modal-body {
  position: relative;
  max-height: calc(100vh - 100px);
  max-width: calc(100% - 30px);
  width: 580px;
  padding: 40px 32px;
  box-sizing: border-box;
  border-radius: 8px 30px;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .team__modal-body {
    max-height: calc(100vh - 80px);
    padding: 20px;
  }
}
.team__modal-body::before {
  content: "";
  position: absolute;
  top: -26px;
  right: -26px;
  z-index: 1001;
  display: block;
  width: 28px;
  height: 28px;
  background: url(../img/icons/close.svg) center no-repeat;
  cursor: pointer;
}
@media (max-width: 768px) {
  .team__modal-body::before {
    top: -34px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}
.team__modal-content {
  max-height: calc(100vh - 180px);
  padding-right: 4px;
  overflow: auto;
  /* Handle */
}
@media (max-width: 768px) {
  .team__modal-content {
    max-height: calc(100vh - 120px);
  }
}
.team__modal-content::-webkit-scrollbar {
  width: 4px;
}
.team__modal-content::-webkit-scrollbar-track {
  background: rgba(45, 45, 45, 0.05);
}
.team__modal-content::-webkit-scrollbar-thumb {
  background: rgba(45, 45, 45, 0.1);
}
.team__modal .team__slide-text {
  display: flex;
}
.team__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 40px;
}

.faq {
  margin: 90px 0 100px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .faq {
    margin: 90px 0 60px;
  }
}
.faq__title {
  margin: 18px 0 25px;
}
@media (max-width: 768px) {
  .faq__title {
    margin: 21px 0;
  }
}
.faq__content {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}
@media (max-width: 768px) {
  .faq__content {
    gap: 18px;
  }
}
.faq__block {
  flex: 0 0 calc(50% - 18px);
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (max-width: 768px) {
  .faq__block {
    flex: 1 1 100%;
    gap: 18px;
  }
}
.faq__item {
  padding: 20px 26px;
  color: #ffffff;
  border-radius: 16px;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .faq__item {
    padding: 28px 24px;
    border-radius: 8px;
  }
}
@media (max-width: 576px) {
  .faq__item {
    padding: 24px 20px;
  }
}
.faq__item-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 21px;
  line-height: 146%;
  color: #2d2d2d;
}
@media (max-width: 768px) {
  .faq__item-question {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .faq__item-question {
    font-size: 16px;
  }
}
.faq__item-question::after {
  content: "+";
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  color: #ffffff;
  border-radius: 32px;
  background-color: #609eff;
  transition: transform ease-in-out 0.14s;
}
@media (max-width: 768px) {
  .faq__item-question::after {
    width: 30px;
    height: 30px;
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .faq__item-question::after {
    width: 26px;
    height: 26px;
    font-size: 20px;
  }
}
.faq__item.active .faq__item-question::after {
  transform: rotate(-45deg);
}
.faq__item-answer {
  display: flex;
  flex-direction: column;
  max-height: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-weight: 300;
  font-size: 16px;
  line-height: 148%;
  color: #878787;
  transition: max-height 0.2s ease-out;
}
@media (max-width: 768px) {
  .faq__item-answer {
    font-size: 14px;
  }
}
.faq__item-answer::before {
  content: "";
  flex: 0 0 auto;
  display: block;
  height: 20px;
}